<html>
    <head>
        <title>Predict Your Income</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
        <link rel="stylesheet/css" href="style.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.6/umd/popper.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/js/bootstrap.min.js"></script>
        
        <style>
            .gender-radio {
                display: block;
                margin: 20px;
                margin-top: 5px;
            }
            form {
                margin-left: 20px;
                margin-right: 20px;
            }
            .center_things_inside {
                margin:0 auto;
                text-align: center;
            }
            .panel-heading {
                background: rgb(233, 236, 239);
            }
            .line {
                border-bottom:1px solid rgb(233, 236, 239);
            }
            .panel-heading {
            }
            .panel-heading h3 {
                color:white;
                padding:5px;
            }
            .panel-roy {
                border-radius: 8px;
                margin-bottom: 40px;
                color: rgba(0,0,0,.5);
                background: rgb(233, 236, 239);
                padding: 10px;
            }
            .jumbotron h1, .jumbotron p {
                color: white;
                text-shadow: 1px 1px 4px rgba(0,0,0,.2);
            }
            .btn:hover {
                cursor: pointer;
            }
        </style>
    </head>
    <body>
        <div class="container">
            <div class="jumbotron">
                <h1 align="center">Online Income Predictor</h1>
                <p align="center"> Predict your income here!</p>
            </div>

            <form role="form" method="post">
                <!-- ROW 1 -->

                <div class="row col-lg-10 center_things_inside">
                <div class="col-lg-6">

                <div class="panel panel-default text-center">
                <div class="panel-heading">
                    <h3>Personal</h3>
                </div>
                <div class="panel-body">
                <div class="form-group">
                    <div class="col-lg-12">
                        <div class="input-group">
                        <span class="input-group-addon">Age</span>
                        <input id="age" name="age" class="form-control" placeholder="placeholder" type="number" value="20" />
                        </div>
                    </div>
                </div>

                <div class="form-group">
                    <div class="col-lg-12">
                        <div class="input-group">
                        <span class="input-group-addon">Sex</span>
                        <div class="form-control" name="sex">
                            <div><input type="radio" name="gender" class="gender-radio" value="Male" checked><i class="fa fa-mars" style="font-size:25px;"></i></div>
                            <div><input type="radio" name="gender" class="gender-radio" value="Female"><i class="fa fa-venus" style="font-size:25px;"></i></div>
                        </div>
                        </div>
                    </div>
                </div>

                <div class="form-group">
                    <div class="col-lg-12">
                        <div class="input-group">
                        <span class="input-group-addon" for="race">Race</span>
                        <select class="form-control" name="race">
                            <option>White</option><option>Asian-Pac-Islander</option>
                            <option>Amer-Indian-Eskimo</option><option>Black</option>
                            <option>Other</option>
                        </select>
                        </div>
                    </div>
                </div>

                <div class="form-group">
                    <div class="col-lg-12">
                        <div class="input-group">
                        <span class="input-group-addon" for="native_country">Native Country</span>
                        <select class="form-control" name="native_country">
                            <option>United-States</option><option>Cambodia</option>
                            <option>England</option><option>Puerto-Rico</option>
                            <option>Canada</option><option>Germany</option>
                            <option>Outlying-US(Guam-USVI-etc)</option><option>India</option>
                            <option>Japan</option><option>Greece</option>
                            <option>South</option><option>China</option>
                            <option>Cuba</option><option>Iran</option>
                            <option>Honduras</option><option>Philippines</option>
                            <option>Italy</option><option>Poland</option>
                            <option>Jamaica</option><option>Vietnam</option>
                            <option>Mexico</option><option>Portugal</option>
                            <option>Ireland</option><option>France</option>
                            <option>Dominican-Republic</option><option>Laos</option>
                            <option>Ecuador</option><option>Taiwan</option>
                            <option>Haiti</option><option>Columbia</option>
                            <option>Hungary</option><option>Guatemala</option>
                            <option>Nicaragua</option><option>Scotland</option>
                            <option>Thailand</option><option>Yugoslavia</option>
                            <option>El-Salvador</option><option>Trinidad&Tobago</option>
                            <option>Peru</option><option>Hong</option>
                            <option>Holand-Netherlands</option>
                        </select>
                        </div>
                    </div>
                </div>                

                </div>
                </div>
                </div>

                <div class="col-lg-6">
                <div class="panel panel-default text-center">
                        <div class="panel-heading">
                            <h3>Profession</h3>
                        </div>

                        <div class="form-group">
                            <div class="col-lg-12">
                                <div class="input-group">
                                <span class="input-group-addon">Occupation</span>
                                <select class="form-control" name="occupation">
                                    <option>Tech-support</option><option>Craft-repair</option>
                                    <option>Other-service</option><option>Sales</option>
                                    <option>Exec-managerial</option><option>Prof-speciality</option>
                                    <option>Handlers-cleaners</option><option>Machine-op-inspct</option>
                                    <option>Adm-clerical</option><option>Farming-fishing</option>
                                    <option>Transport-moving</option><option>Priv-house-serv</option>
                                    <option>Protective-serv</option><option>Armed-Forces</option>
                                </select>
                                </div>
                            </div>
                        </div>

                        <div class="form-group">
                            <div class="col-lg-12">
                                <div class="input-group">
                                <span class="input-group-addon">Workclass</span>
                                <select class="form-control" name="workclass">
                                    <option>Private</option><option>Self-emp-not-inc</option>
                                    <option>Self-emp-inc</option><option>Federal-gov</option>
                                    <option>Local-gov</option><option>State-gov</option>
                                    <option>Without-pay</option><option>Never-worked</option>
                                </select>
                                </div>
                            </div>
                        </div>

                        <div class="form-group">
                            <div class="col-lg-12">
                                <div class="input-group">
                                <span class="input-group-addon">Final Weight</span>
                                <input type="number" class="form-control" id="usr" name="fnlwgt" value="0">
                                </div>
                            </div>
                        </div>

                        <div class="form-group">
                            <div class="col-lg-12">
                                <div class="input-group">
                                <span class="input-group-addon">Hours Per Week</span>
                                <input type="text" class="form-control" name="hours_per_week" value="0">
                                </div>
                            </div>
                        </div>

                        <div class="form-group">
                            <div class="col-lg-12">
                                <div class="input-group">
                                <span class="input-group-addon">Capital Loss</span>
                                <input type="text" class="form-control" name="capital_loss" value="0">
                                </div>
                            </div>
                        </div>

                        <div class="form-group">
                            <div class="col-lg-12">
                                <div class="input-group">
                                <span class="input-group-addon">Capital Gain</span>
                                <input type="text" class="form-control" name="capital_gain" value="0">
                                </div>
                            </div>
                        </div>
        
                        </div>
                        </div>
                        </div>
                </div>

                <!-- ROW 2 -->

                <div class="row col-lg-8 center_things_inside">

                        <div class="col-lg-6">
                        <div class="panel panel-default text-center">
                                <div class="panel-heading">
                                    <h3>Family</h3>
                                </div>
        
                                <div class="form-group">
                                    <div class="col-lg-12">
                                        <div class="input-group">
                                        <span class="input-group-addon">Marital Status</span>
                                        <select class="form-control" name="marital_status">
                                            <option>Married-civ-spouse</option>
                                            <option>Divorced</option>
                                            <option>Never-married</option>
                                            <option>Separated</option>
                                            <option>Widowed</option>
                                            <option>Married-spouse-absent</option>
                                            <option>Married-AF-spouse</option>
                                        </select>
                                        </div>
                                    </div>
                                </div>
        
                                <div class="form-group">
                                    <div class="col-lg-12">
                                        <div class="input-group">
                                        <span class="input-group-addon" for="relationship">Relationship</span>
                                        <select class="form-control" name="relationship">
                                            <option>Wife</option><option>Own-child</option>
                                            <option>Husband</option><option>Not-in-family</option>
                                            <option>Unmarried</option><option>Other-relative</option>
                                        </select>
                                        </div>
                                    </div>
                                </div>
                
                                </div>
                                </div>

                        <div class="col-lg-6">
        
                        <div class="panel panel-default text-center">
                        <div class="panel-heading">
                            <h3>Education</h3>
                        </div>
                        <div class="panel-body">
                        <div class="form-group">
                            <div class="col-lg-12">
                                <div class="input-group">
                                <span class="input-group-addon" for="education">Education</span>
                                <select class="form-control" name="education">
                                    <option>Bachelors</option><option>Some-college</option>
                                    <option>11th</option><option>HS-grad</option>
                                    <option>Prof-school</option><option>Assoc-acdm</option>
                                    <option>Assoc-voc</option><option>9th</option>
                                    <option>7th-8th</option><option>12th</option>
                                    <option>Masters</option><option>1st-4th</option>
                                    <option>10th</option><option>Doctorate</option>
                                    <option>5th-6th</option><option>Preschool</option>
                                </select>
                                </div>
                            </div>
                        </div>

                        <div class="form-group">
                            <div class="col-lg-12">
                                <div class="input-group">
                                <span class="input-group-addon">Education Number</span>
                                <input type="number" class="form-control" id="usr" name="education_num" value="1" min="1" max="16" />
                                </div>
                            </div>
                        </div>
        
                        </div>
                        </div>
                        </div>
        
                    </div>

                    <br/>
                    <div class="center_things_inside col-lg-8">
                        <button type="submit" class="btn btn-lg btn-block btn-danger">submit</button>
                    </div>

                    <br/>
                    <div class="line col-lg-8 center_things_inside"></div>
                    <br/>

                    <div class="col-lg-8 panel-roy panel panel-default center_things_inside">
                    <div class="panel-body" id="response">
                        <h1>Your Response Here</h1>
                    </div>
                    </div>
                
            </form>
        </div>
        <script src="submit.js"></script>
        <script>
            $(function(){
                $("form").on("submit", function (e) {
                    e.preventDefault();
                    $.ajax({
                        url: '/process',
                        data: $('form').serialize(),
                        type: 'POST',
                        async: false,
                        success: function(response){
                            console.log(response.hasil);
                            var output = response.hasil;
                            $("#response").html("<h1>"+output+"<h1>");
                        },
                        error: function(error){
                            console.log('error');
                            console.log(error);
                        }
                    });
                });
            });
        </script>
    </body>
</html>